body {
    background-color: antiquewhite;
}

h1 ,h2 {
    /* text-align: center; */
    color: rgb(247, 54, 20);
}


h3 , h4 {
    color: steelblue;
    /* text-align: center; */
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-right: 0%;
}